/* GENERAL STYLE  */

  body {
    margin: 0;
    font-family: 'Lato', 'Montserrat', sans-serif;
    color: #333333;
  }

  h2 a, h2  {
    color:#333333;
    font-size: 18px;
    text-decoration: none;
  }

  .flash-msg {
    color:#666666;
    font-size: 18px;
    text-decoration: none;
    /* text-indent: 10px; */
    padding: 10px;
  }

  a {
    color:#333333;
    text-decoration: underline;
    /* font-weight: bolder; */
  }

  a:hover {
    color:#FB3530;
    text-decoration: underline;
    /* font-weight: lighter; */
  }


  .search-result a {
    /* color:#333333; */
    text-decoration: none;
    font-weight: bolder;
  }

  .search-result a:hover {
    /* color:#FB3530; */
    text-decoration: underline;
  }

  .movie-year {
    color: #666666;
    font-weight: lighter;
  }

  .search-result {
    /* border: 1px solid red; */
    width: 85%;

  }
  .movie-results {
    width: 95%;
    height: auto;
    /* border: 1px solid black; */
    /* padding-bottom: 1px; */
  
  }

  .movie-results-poster {
    width: 10%;
    height: auto;
    float: left;
    /* border: 1px solid red; */
    text-align: center;
    min-width: 60px;
    padding: 20px;
  
  }

  .movie-results-poster img {
    width: 80%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center
   }

  .movie-results-details {
    width: 74%;
    float: left;
    /* border: 1px solid purple; */
  }

  .movie-ratings {
    font-size: smaller;
   
  }

  .ratings-value {
    font-weight: bolder;

  }

  .side-note-to-headers {
    font-size: smaller;
    font-weight: lighter;
  }


.movie-results-header-row {
  /* border: 1px solid fuchsia; */

}

.movie-results-header-row-title{
  /* border: 1px solid blue; */
  width: 70%;
  /* float: left; */
}

.movie-results-header-row-pin{
  /* border: 1px solid red; */
  float: right;
  /* margin: 20px; */
  padding: 20px;
  text-align: center;
  width: 12%;

}

.hr-divider {
  /* border: 1px solid red; */
  padding-top: 39px;
  width: 87%;
}

  .clear {
    clear: both
  }







/* NAVBAR container */
.navbar {
    overflow: hidden;
    background-color: #777;
    font-family: inherit;
  }
  
  /* Links inside the navbar */
  .navbar a {
    /* float: left; */
    font-size: 16px;
    text-align: center;
    color: #f8f6f6;
    padding: 14px 16px;
  }

  #login-to-existing-acct {
    float: right;
    /* border: 1px solid red; */
    padding: 18px;
  }

  #create-new-acct-btn {
    
    float: right;
    /* border: 1px solid red; */
    padding: 21px;
    background-color: transparent;
    color: #222222;
    border: none;
    box-shadow: none;
  }

  

  #nav-bar-brand {
    /* border: 1px solid green; */
    float: left;
    /* padding: 20px; */

  }

  #nav-bar-secondary {
    /* border: 1px solid red; */
    float: right;
    text-align: left;
    width: 60%;
    
  }

  #nav-search {
    /* border: 1px solid greenyellow; */
    float: right;
    width: 59%;
    padding: 16px;
    text-align: right;
  }

  #nav-profile {
    /* border: 1px solid purple; */
    float: right;
    width: 75px;
  }

  #nav-bar-profile.dropdown:hover {
    background: #FB3530;
    fill: FB3530

  }

  /* The dropdown container itself */
  .dropdown {
    left:auto;
    right:0;
    margin-right:-10px;
  }
  
  /* Dropdown buttons */
  .dropdown .dropbtn {
    font-size: 16px;
    color: #f8f6f6;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; 
    margin: 0;     
    border: none;
    outline: none;                                                             /* NOTE: Important for vertical align on mobile phones */
  }
  
  /* Add a red background color to navbar links on hover */
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #FB3530;                                                   /*  HB red!!! :D  */
    color: white
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 140px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    left:auto;
    right:0;
    margin-right:-10px;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: left;
    color: #444;
    padding: 30px;
    text-decoration: none;
    display: block;
    text-align: right;
    font-size: larger;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .nav-bar-icon {
    filter: invert(100%);
  }

  








/* SIDEBAR container */
  
  .sidebar {
    margin: 0;
    padding: 10px;
    width: 230px;
    background-color: #f9f9f9;
    position: absolute;
    height: 100%;
    overflow: auto;
    overflow: hidden;
  }
  
  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }
   
  .sidebar a.active {
    background-color: #4CAF50;
    color: white;
  }
  
  .sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
  }

  .sidebar label   {
    font-size: 12px;
    font-weight: bolder;
  }

  .search-parameters-values  {
    font-size: smaller;
    font-weight: lighter;
    margin: 7px;
  }

  .user-preference-search-parameters {
    /* border: 1px solid fuchsia; */
    padding: 10px;
  }

  .search-parameters {
    /* border: 1px solid blue; */
    width: 85%;
  }


  .user-preference-btn {
    border: none;
    outline:none;
    background-color: transparent;
    float: right;
  }

  .tiny-icon {
    height: 15px;
    width: 15px;
    filter: invert(50%);
  }





  /* CONTENT container */

  div.content {
    margin-left: 275px;
  }

  #main-search-content-box {
    padding: 30px;
  }

  .movie-full-details-box {
    width: 95%;
    height: auto;
     } 

  .movie-image {
    width: 30%;
    height: auto;
  } 

  .opener {
    /* padding: 5px; */
  }
  
	.hidden-div {
    display: none;
    padding: 5px;
    /* border: 1px solid red; */
	}

  .mid-size-icon {
    height: 30px;
    width: 30px;
    filter: invert(50%);
  }

  .movie-results-synopsis-row {
    font-size: larger;
    width: 70%;
  }
  .movie-results-details-row {
    /* padding: 15px; */
    /* color: red; */
  }

  /* SCREEN SIZE VARIATIONS */
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}

    div.content {margin-left: 0;}
    
    #nav-bar-brand {
      float: left;
      /* padding: 20px; */
      width: 100%;
      text-align: center;
  
    }

    #nav-bar-secondary {
      float: right;
      text-align: right;
      width: 100%
    }
  
    #nav-search {
      float: right;
      width: 59%;
      padding: 12px;
    }
  
    #nav-profile {
      float: right;
      width: 28%;
    }
  
  }
  
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }

    #nav-search {
      float: right;
      width: 100%;
      padding: 12px;
    }
  
    #nav-profile {
      float: right;
      width: 100%;
    }

  }
