/* GENERAL STYLE  */

  body {
    margin: 0;
    font-family: "Lato", sans-serif;
  }



/* NAVBAR container */
.navbar {
    overflow: hidden;
    background-color: #777;
    font-family: Arial;
  }
  
  /* Links inside the navbar */
  .navbar a {
    float: left;
    font-size: 16px;
    text-align: center;
    color: #f8f6f6;
    padding: 14px 16px;
  }
  
  /* The dropdown container itself */
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  /* Dropdown buttons */
  .dropdown .dropbtn {
    font-size: 16px;
    color: #f8f6f6;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; 
    margin: 0;     
    border: none;
    outline: none;                                                             /* NOTE: Important for vertical align on mobile phones */
  }
  
  /* Add a red background color to navbar links on hover */
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #FB3530;                                                   /*  HB red!!! :D  */
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: #444;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  



/* SIDEBAR container */
  
  .sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f9f9f9;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }
   
  .sidebar a.active {
    background-color: #4CAF50;
    color: white;
  }
  
  .sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
  

  /* CONTENT container */

  div.content {
    margin-left: 200px;
    padding: 1px 16px;
  }
  

  

  /* SCREEN SIZE VARIATIONS */
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }
