<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
            <title>
            {% block title %}
            {% endblock %}
            </title>

        <link href="/static/css/site.css" rel="stylesheet">
        <link rel="icon" href="/favicon.ico" sizes="32x32">

        {% block head %}
        {% endblock %}

        <!-- load React dependencies on all pages for this app. -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.js" crossorigin></script>
        <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
        <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
        <script
            src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
            crossorigin="anonymous"></script>

    </head>
    <body>
        {% block navbar%}
            <div class="navbar">
                <a href="/">Home</a>
                <a href="/recommendations">search for a specific movie</a>
                <div class="dropdown">
                    <button class="dropbtn">Recommendations
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content">
                        <a href="/recommendations">return-1-result</a>
                        <a href="/recommendations">find something i feel like watching</a>
                        <a href="/recommendations">previous recommendations</a>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="dropbtn">profile
                        <i class="fa fa-caret-down"></i>
                    </button>
                        <div class="dropdown-content">
                            <a href="#">preferences</a>
                            <a href="#">log out</a>
                        </div>
                </div>
            </div>
        {% endblock %}


        {% for msg in get_flashed_messages() %}
            <p class="flash-msg">
                {{ msg }}
            </p>
         {% endfor %}

        <!-- Include the page's content with this block. -->
        {% block body %}
        {% endblock %}

        <!-- Include any page-specific Javascript using this block. -->
        {% block js %}
        {% endblock %}

    </body>
</html>