{% extends 'base.html' %}


{% block title %}  
{% if current_recommendations is defined %}
    {% if session['render-search-results'] == "one" %}{{ current_recommendations['title'] }}
    {% elif session['render-search-results'] == "many" %}{% for msg in get_flashed_messages() %}{{ msg }}{% endfor %}
    {% else %} HackBright is great! :) {% endif %}
{% endif %}
{% endblock %}

{% block body %}

<div id="search-result" class="row">

  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 title-summary">


<!-- TODO: make search sidebar show up only when user is logged in -->
{% block sidebar %}
<div class="sidebar">
<h3>update your search parameters below:</h3>
          
<form action='/recommendations' method="POST">
  <div class="form-group">

<label for="movie-or-series-input"> movie or series?</label>           
<select id="movie-or-series-input" name="movie-or-series-input">
  <option value="" selected>any/all</option>
  <option value="movie"> movie </option>
  <option value="series"> series </option>
</select>
<br>  
<br>
<label for="preferred-subtitle">Select your default subtitles:</label>
<select id="preferred-subtitle" name="preferred-subtitle">
  <option value="" selected>any/all</option>
  {% for language in languages['subtitles'] %}
    <option value="{{language}}">{{language}}</option>  
  {% endfor %}
</select>
<br>
<label for="preferred-audio">Select your default audio:</label>
<select id="preferred-audio" name="preferred-audio">
  <option value="" selected>any/all</option>
  {% for language in languages['audio'] %}
        <option value="{{language['id']}}">{{language['language']}}</option>  
  {% endfor %}
</select>
<br>
<br>
<label for="date-range-start"> production date "from when?":</label>           
<select id="date-range-start" name="date-range-start">
  <option value="" selected>any/all</option>
  <option value=2020>released within past year</option>
  <option value=2000>on or after 2000</option>
  <option value=1990>on or after 1990</option>
  <option value=1980>on or after 1980</option>
  <option value=1970>on or after 1970</option>
  <option value=1960>on or after 1960</option>
  <option value=1950>on or after 1950</option>
  <option value=1940>on or after 1940</option>
  <option value=1930>on or after 1930</option>
  <option value=1920>on or after 1920</option>
  <option value=1910>on or after 1910</option>
</select>
<br>        
<label for="date-range-end"> production date "to when?":</label>           
<select id="date-range-end" name="date-range-end">
  <option value="" selected>any/all</option>
  <option value=2020>released within past year</option>
  <option value=2000>up until 2000</option>
  <option value=1990>up until 1990</option>
  <option value=1980>up until 1980</option>
  <option value=1970>up until 1970</option>
  <option value=1960>up until 1960</option>
  <option value=1950>up until 1950</option>
  <option value=1940>up until 1940</option>
  <option value=1930>up until 1930</option>
  <option value=1920>up until 1920</option>
  <option value=1910>up until 1910</option>
</select>
<br>
<br>
<label for="start-rating-input"> minimum imdb rating:</label>
<input type="number"
    id="start-rating-input"
    name="start-rating-input"
    placeholder="1-10"
    min="0" 
    max="9"
    value="3" />

<br>
<label for="end-rating-input"> maximum imdb rating:</label>
<input type="number"
   id="end-rating-input"
   name="end-rating-input"
   placeholder="1-5"
   min="1" 
   max="10"
   value="10" />
<br>
<br>
<label for="genre-input">one of genre(s):
    <br> (inclusive "OR" criteria)
</label>         
<select id="genre-input" name="genre-input">
  <option value="all" selected>any/all</option>
  {% for obj in all_genres %}
  {% for field in obj.__table__.columns._data.keys() %}
    {% if field == 'name' %}
    <option value="{{ obj['id'] }}">{{ obj['name'] }}</option>
    {% endif %}
  {% endfor %}
{% endfor %}
</select>
<br>

<input type="submit" value="search" id="submit-input"/>
</div>
</div>

{% endblock %}


{% block content %}
<div class="content">
    <div class="search-result">
        
  {% if current_recommendations is defined %} 
    {% if session['render-search-results'] == "one" %}
  
      {% if current_recommendations is defined %}
    

        <p><b>
          {% if current_recommendations['poster_path'] != None %} <img src="http://image.tmdb.org/t/p/w185/{{ current_recommendations['poster_path'] }}" width="40" height="60">  {% endif %}
        {{ current_recommendations['title'] }}   ({{ current_recommendations['release_date'][:4]}})</b> </p>

        {% if current_recommendations['title'] != current_recommendations['original_title'] %} <p><i>originally: "{{ current_recommendations['original_title'] }}"</i> </p> {% endif %}

        <p>{% if current_recommendations['runtime'] is defined %} 🕐 {{ current_recommendations['runtime'] }} minutes  {% endif %} 
          {% if current_recommendations['imdb_type'] is defined %}
            {% if current_recommendations['imdb_type'] == 'movie' %}| 🎬 {{ current_recommendations['imdb_type'] }} {% elif current_recommendations['imdb_type'] == 'series' %} | 📺 {{ current_recommendations['imdb_type'] }}{% endif %}
            {% endif %}{% if netflix_id is defined %}
            {% if current_recommendations['netflix_downloadable'] == '1' %}| 📶 downloadable from Netflix {% endif %}
            {% if current_recommendations['netflix_matlevel'] != "" %}|<a title="{{ current_recommendations['netflix_matlabel'] }}"> 🔰 {{ current_recommendations['netflix_matlabel'] }} </a> {% endif %}
          {% endif %}
          {% if current_recommendations['imdb_rated'] is defined %}|  Rated: {{ current_recommendations['imdb_rated'] }} {% endif %}
        </p>  
        

        <p>
          {% if current_recommendations['imdb_id'] != None %}  <a href="https://www.imdb.com/title/{{ current_recommendations['imdb_id'] }}">View trailer on IMDb</a>  {% endif %} 
          {% if current_recommendations['flatrate'] != None %} {% for service in current_recommendations['flatrate'] %} {% if service['provider_name'] == 'Netflix' %}
          <a href="https://www.netflix.com/title/{{ current_recommendations['netflix_id'] }}">| Watch now on Netflix</a> 
            {% endif %} {% endfor %} {% endif %} 
          {% if current_recommendations['rent'] != None %}| available for online rental</a>  {% endif %} 
          {% if current_recommendations['buy'] != None %}| available for online purchase </a>  {% endif %} 
        </p>

      
        <p> 
          {% if current_recommendations['vote_average'] is defined %}<a title="Total TMDb Votes: {{ current_recommendations['vote_count'] }}">  TMDb score: {{ current_recommendations['vote_average'] }} 
          ⭐ ⭐ ⭐ ★ ★ </a> |{% endif %}  
          {% if current_recommendations['imdb_imdbrating'] is defined %}<a title="Total TMDb Votes: {{ current_recommendations['imdb_imdbvotes'] }}">  IMDb score: {{ current_recommendations['imdb_imdbrating'] }} 
          ⭐ ⭐ ⭐ ★ ★ {% endif %}  
          {% if current_recommendations['imdb_ratings'] is defined %}{% if current_recommendations['imdb_ratings'] != [] %}{% for ratings in current_recommendations['imdb_ratings'] %} 
          {% if ratings['Source'] != 'Internet Movie Database' %}
           | {{ ratings['Source'] }} score: {{ ratings['Value'] }}  ⭐ ⭐ ⭐ ★ ★ </a>
          {% endif %}{% endfor %}{% endif %}{% endif %}
        </p>


    </p>
        {% if netflix_id is defined %}
        {% if current_recommendations['netflix_top250'] is defined %}{% if movie_result['top250tv'] > 0 %} <p><a style="color:#FB3530">ℕ</a> Top 250 of Netflix TV </p> {% endif %} {% endif %}
        {% if current_recommendations['netflix_awards'] != '' %} <p>🏆 {{ current_recommendations['netflix_awards'] }}</p> {% endif %}{% endif %}
        {% if current_recommendations['imdb_awards'] is defined %}{% if current_recommendations['imdb_awards'] != "N/A" %}<p> 🏆 {{ current_recommendations['imdb_awards'] }} </p>{% endif %}{% endif %}
        <hr>
        {% if current_recommendations['tagline'] is defined %} <h4>{{ current_recommendations['tagline'] }} </h4>{% endif %}
      
        {% if current_recommendations['overview'] is defined %} <p><b>Synopsis:</b> <i>{{ current_recommendations['overview'] }} </i></p>{% endif %} 

        <hr>

        {% if current_recommendations['genres'] != [] %}<p> 🎭 Genres:   {% for genre in current_recommendations['genres'] %} 
          <a href="/genre/{{ genre['name'] }}"> {{ genre['name']}}</a>
          {%- if not loop.last -%}, {% endif %}{% endfor %}{% endif %}{% if current_recommendations['netflix_genres'] is defined %}{% for nf_genre in current_recommendations['netflix_genres'] %}, {{ nf_genre }}{% endfor %}{% endif %} 
          </p>

                    
        {% if current_recommendations['keywords'] != [] %}<p>   Keywords:   {% for keyword in current_recommendations['keywords'] %} 
          <a href="/keyword/{{ keyword['name'] }}"> {{ keyword['name'] }}</a>
            {%- if not loop.last -%} , {% endif %} 
          {% endfor %} </p>{% endif %}
          
        <hr>

        {% if current_recommendations['actors'] != [] %}<p> Top Cast:   {% for actors in current_recommendations['actors'] %} 
          <a href="/people/{{ actors['id'] }}_{{ actors['name'] }}"> {{ actors['name'] }}</a>
          {%- if not loop.last -%} , {% endif %} 
        {% endfor %} </p>{% endif %}
              
        {% if current_recommendations['directors'] != [] %}<p> Director(s):   {% for directors in current_recommendations['directors'] %} 
          <a href="/people/{{ directors['id'] }}_{{ directors['name'] }}"> {{ directors['name'] }}</a>
          {%- if not loop.last -%} , {% endif %} 
        {% endfor %} </p>{% endif %}

        {% if current_recommendations['composers'] != [] %}<p>   Composer(s):   {% for composers in current_recommendations['composers'] %} 
          <a href="/people/{{ composers['id'] }}_{{ composers['name'] }}"> {{ composers['name'] }}</a>
          {%- if not loop.last -%} , {% endif %} 
        {% endfor %} </p>{% endif %}

        {% if current_recommendations['production_companies'] != [] %}<p> Production Studio(s):  {% for company in current_recommendations['production_companies'] %}  
          <a href="/studio/{{ company['id'] }}_{{ company['name'] }}"> {{ company['name'] }}</a>
            {%- if not loop.last -%} , {% endif %} 
          {% endfor %} </p>{% endif %} 

          <hr>

        {% if current_recommendations['flatrate'] != None %}<p> Streaming services:   {% for company in current_recommendations['flatrate'] %}  
          <img src="http://image.tmdb.org/t/p/w185/{{ company['logo_path'] }}" width="40" height="40">   
            {%- if not loop.last -%}  {% endif %} 
          {% endfor %} </p>{% endif %} 

        {% if current_recommendations['rent'] != None %}<p> Online rental:   {% for company in current_recommendations['rent'] %}  
          <img src="http://image.tmdb.org/t/p/w185/{{ company['logo_path'] }}" width="40" height="40">   
            {%- if not loop.last -%}  {% endif %} 
          {% endfor %} </p>{% endif %} 

          <hr>

          {% if current_recommendations['similar'] is defined %}{% if current_recommendations['similar'] != None %}<p> Similar:   {% for item in current_recommendations['similar'].items() %}  
              <a href="/title/{{ item[1]['id'] }}"><img src="http://image.tmdb.org/t/p/w185/{{ item[1]['poster_path'] }}" title="{{item[1]['title']}} ({{item[1]['release_date'][:4]}}) - {{item[1]['overview']}}" width="40" height="60"></a>  
            {% endfor %} </p>{% endif %} {% endif %} 




          <hr>

        {% endif %}


    {% elif session['render-search-results'] == "many" %}
    

    {% for result_number, movie_result in current_recommendations.items() %}  
                
      {% if result_number == 'error' %}
          {{ movie_result }}
      
      {% elif movie_result['title'] is defined %}
        
          
        {% if movie_result['poster_path'] is defined %}{% if movie_result['poster_path'] != None %} 
          <div class="movie-results">
            <div class="movie-results-poster"><a href="/title/{{ movie_result['id'] }}"> <img src="http://image.tmdb.org/t/p/w185/{{ movie_result['poster_path'] }}" width="40" height="60"> {% endif %}{% endif %}
            </a></div>
            <div class="movie-results-details">
              <h2><a href="/title/{{ movie_result['id'] }}"> {{ movie_result['title'] }} </a>  {% if movie_result['release_date'] is defined %}<span class="movie-year">({{ movie_result['release_date'][:4]}})</span>{% endif %}</h2>

          {% if movie_result['title'] != movie_result['original_title'] %} <p><i>originally: "{{ movie_result['original_title'] }}"</i> </p> {% endif %}

          <p>  {% if movie_result['popularity'] is defined %} Popularity:  {{ movie_result['popularity'] }} | {% endif %} 
               {% if movie_result['vote_count'] is defined %} Total Votes: {{ movie_result['vote_count'] }} | {% endif %} 
               {% if movie_result['vote_average'] is defined %} Average Vote: {{ movie_result['vote_average'] }} {% endif %}
          </p>      

                {% if movie_result['overview'] is defined %} <p><b>Synopsis:</b> <i>{{ movie_result['overview'] }} </i></p>{% endif %} 
          
            </div>
            <div class="clear"></div>
            <br><hr><br>
        
          </div>
          {% endif %}

      {% endfor %}
   

    {% elif session['render-search-results'] == "filmography" %}
    

        {% for item in current_recommendations %}
          {{item}}
        {% endfor %}

    

    {% else %}
     
    please try again

    {% endif %}
  {% endif %}

  {{ current_recommendations }}

</div>
</div>

{% endblock %}
{% endblock %}
{% block js %}
{% endblock %}