{% extends 'base.html' %}


{% block title %}  
  {{ user.fname }}
{% endblock %}

{% block body %}


<div id="search-result" class="row">

  <!-- <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 title-summary"> -->


{% block sidebar %}
<div class="sidebar">
<p></p>
<div class="placeholder"></div>


<div><div class="gravitar"></div> <div class="edit-gravitar-image"><i class="fas fa-user-edit edit-gravitar-image"></i></div></div>

</div></div>
{% endblock %}
  
  
  
{% block content %}
<div class="content" id="main-search-content-box">
  
  <div class="search-result-box">
    <p></p>
    <div class="placeholder">.</div>

      <!-- <h1> {{ user.fname }} </h1> -->


      <div class="profile-detail-row"></div>
      <div class="profile-detail-row"></div>
    
      <div class="profile-section-row"> 
      
        <div class="opener">
          
          <h1> <i class="fas fa-chevron-right hide"></i><i class="fas fa-chevron-down"></i>Account information</h1>

          <div class="profile-detail-row">

            <div class="profile-detail-row">
              <div class="profile-detail-icon"><i class="fas fa-user-edit"></i></div>
              <div class="profile-detail-title">Username (email address)</div>
              <div class="profile-detail-value">{{ user.email }}</div>
            </div>

            <div class="profile-detail-row">
              <div class="profile-detail-icon"><i class="fas fa-user-edit"></i></div>
              <div class="profile-detail-title">Preferred first name</div>
              <div class="profile-detail-value">{{ user.fname }}</div>
            </div>

            <div class="profile-detail-row">
              <div class="profile-detail-icon"><i class="fas fa-user-edit"></i></div>
              <div class="profile-detail-title">Member since</div>
              <div class="profile-detail-value">{{ user.user_since.strftime('%B %Y') }} </div>
            </div>

            <div class="profile-detail-row"></div>

          </div>
        </div>

        <div class="clear"></div>



        <div class="profile-section-row"> 
          {% if user.preferences %} 
            <div class="opener">
      
              <h1> <i class="fas fa-chevron-right"></i><i class="fas fa-chevron-down hide"></i>Default search preferences </h1>
              <div class="hidden-div profile-detail-row">

                <div class="profile-detail-row">
                  <div class="profile-detail-icon"><i class="fas fa-user-edit"></i></div>
                  <div class="profile-detail-title">Type of production</div>
                  <div class="profile-detail-value profile-detail-configured">Movies</div>
                </div>

                <div class="profile-detail-row">
                  <div class="profile-detail-icon"><i class="fas fa-user-edit"></i></div>
                  <div class="profile-detail-title">Duration</div>
                  <div class="profile-detail-value">any</div>
                </div>
                
                <div class="profile-detail-row"></div>
                
                <div class="profile-detail-row">
                  <div class="profile-detail-icon"><i class="fas fa-user-edit"></i></div>
                  <div class="profile-detail-title">Spoken language(s)</div>
                  <div class="profile-detail-value">{{ user.preferences[-1].subtitle }} </div>
                </div>
    
                <div class="profile-detail-row">
                  <div class="profile-detail-icon"><i class="fas fa-user-edit"></i></div>
                  <div class="profile-detail-title">Dubbed language(s)</div>
                  <div class="profile-detail-value">{{ user.preferences[-1].subtitle }} </div>
                </div>
    
                <div class="profile-detail-row">
                  <div class="profile-detail-icon"><i class="fas fa-user-edit"></i></div>
                  <div class="profile-detail-title">Subtitle language(s)</div>
                  <div class="profile-detail-value">{{ user.preferences[-1].subtitle }} </div>
                </div>
    
                <div class="profile-detail-row"></div>

                <div class="profile-detail-row">
                  <div class="profile-detail-icon"><i class="fas fa-user-edit"></i></div>
                  <div class="profile-detail-title">Release date range (minimum)</div>
                  <div class="profile-detail-value"> {{ user.preferences[-1].syear }}</div>
                </div>
    
                <div class="profile-detail-row">
                  <div class="profile-detail-icon"><i class="fas fa-user-edit"></i></div>
                  <div class="profile-detail-title">Release date range (maximum)</div>
                  <div class="profile-detail-value"> {{ user.preferences[-1].eyear }}</div>
                </div>

                <div class="profile-detail-row"></div>

                <div class="profile-detail-row">
                  <div class="profile-detail-icon"><i class="fas fa-user-edit"></i></div>
                  <div class="profile-detail-title">Score (minimum)</div>
                  <div class="profile-detail-value profile-detail-configured"> 3 </div>
                </div>
    
                <div class="profile-detail-row">
                  <div class="profile-detail-icon"><i class="fas fa-user-edit tiny-icon"></i></div>
                  <div class="profile-detail-title">Score (maximum)</div>
                  <div class="profile-detail-value"> {{ user.preferences[-1].eyear }}</div>
                </div>

                <div class="profile-detail-row"></div>
    
                <div class="profile-detail-row">
                  <div class="profile-detail-icon"><i class="fas fa-user-edit"></i></div>
                  <div class="profile-detail-title">Genre(s)</div>
                  <div class="profile-detail-value">{{ user.preferences[-1].subtitle }}  </div>
                </div>
    
                <div class="profile-detail-row"></div>
    
                <div class="profile-detail-row">
                  <div class="profile-detail-icon"><i class="fas fa-user-edit"></i></div>
                  <div class="profile-detail-title">Maturity rating level</div>
                  <div class="profile-detail-value">{{ user.preferences[-1].subtitle }}  </div>
                </div>
    
                <div class="profile-detail-row"></div>
    
                <div class="profile-detail-row">
                  <div class="profile-detail-icon tiny-icon"><i class="fas fa-user-edit profile-detail-icon" color="#777777"></i></div>
                  <div class="profile-detail-title">Viewing location</div>
                  <div class="profile-detail-value profile-detail-configured"> {{ user.preferences[-1].location.name }} </div>
                </div>
    
                <div class="profile-detail-row"></div>
  
              </div> 
            </div>  
          {% endif %}
          </div>



          <div class="profile-section-row"> 
            <div class="opener">
      
              <h1>  <i class="fas fa-chevron-right"></i><i class="fas fa-chevron-down hide"></i>Linked streaming accounts</h1>
              <div class="hidden-div profile-detail-row"></div>


          <div class="profile-section-row"> 
            <div class="opener">
      
              <h1> <i class="fas fa-chevron-right"></i><i class="fas fa-chevron-down hide"></i>Watchlist settings</h1>
              <div class="hidden-div profile-detail-row"></div>
                
          <div class="profile-section-row"> 
            <div class="opener">
      
              <h1> <i class="fas fa-chevron-right"></i><i class="fas fa-chevron-down hide"></i>Friend network settings</h1>
              <div class="hidden-div profile-detail-row">
                  <div class="profile-detail-icon"><i class="fas fa-user-edit"></i></div>
                  <div class="profile-detail-title">Share personal URL to connect:</div>
                  <div class="profile-detail-value"><a ef="/@{{ user.purl_name }}">/@{{ user.purl_name }} </a> </div>
                <div class="profile-detail-row"></div>
              </div>
    
                
              {% endblock %}
  {% endblock %}


{% block js %}

      <script src="/static/js/app.js"></script>

{% endblock %}