{% extends 'base.html' %}

{% block title %}{% endblock %}

{% block body %}

    <div id="search-result" class="row">

          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 title-summary">

              <div class="content">
        
                {% if current_recommendations['title'] is defined %}
                    <div class="search-result">
                    <h2>{{ current_recommendations['title'] }}</h2>  <b> ( {{ current_recommendations['released'] }}  )</b><br>

                     <img src="{{ current_recommendations['image1'] }}" width="30" height="50">     <img src="{{ current_recommendations['image2'] }}" width="30" height="50">  
                   
                  
                    <p> 🕐 {{ current_recommendations['runtime'] }}
                        {% if current_recommendations['type'] == 'movie' %} | 🎬 {{ current_recommendations['type'] }} {% elif current_recommendations['type'] == 'series' %} | 📺 {{ current_recommendations['type'] }}{% endif %}
                        {% if current_recommendations['download'] == '1' %}| 📶 downloadable {% endif %}
                        {% if current_recommendations['matlevel'] != "" %}|<a title="{{ current_recommendations['matlabel'] }}"> 🔰 {{ current_recommendations['matlevel'] }} </a> {% endif %}</p>
                    <p> 🎭 {{ current_recommendations['genre'] }} </p>
                        <p>{{ current_recommendations['mgname'] }} </p>

                    <p>IMDb: ⭐ ⭐ ⭐ ★ ★  | Netflix: ⭐ ⭐ ⭐ ⭐ ★  | Rotten Tomatoes: 🍅 🍅 🍅 🍅 ⚫</p>    
                    <p><b>"votes"</b>   <em>{{ current_recommendations['votes'] }}</em>  |  
                        <b>"avgrating":</b> <em>{{ current_recommendations['avgrating'] }}</em>  |  
                        <b>"metascore":</b> <em>{{ current_recommendations['metascore'] }}</em>  |  
                        <b>"rating":</b> <em>{{ current_recommendations['rating'] }}</em>  |  
                        <b>metascore:</b> <em>{{ current_recommendations['metascore'] }}</em> </p>

                        {% if current_recommendations['awards'] != '' %} <p>🏆 {{ current_recommendations['awards'] }}</p> {% endif %}

                    <h4> {{ current_recommendations['synopsis'] }} </h4>

                    <p> <em>{{ current_recommendations['plot'] }}</em></p>

                    <p><b>Actors:</b>   <em>{{ current_recommendations['actors'] }}</em></p>

                    <p><b>Director(s):</b>   <em>{{ current_recommendations['directors'] }}</em></p>
                    
                    <ul>
                        <li><a href="https://www.imdb.com/title/{{ current_recommendations['imdbid'] }}"> Read more on imdb </a></li>
                        <li><a href="https://www.netflix.com/title/{{ current_recommendations['netflixid'] }}"> Watch now on Netflix </a></li>
                    </ul>
                    </div>

                {% else %}
                    <p> crickets chirping.... <b>try a different search term, friend</h3></p>
                    <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/7aae406a-1051-4f7c-a2a1-17f54a84b888/d5zzvn1-507fd3fb-6aef-4753-b01e-f9fb84e0f07c.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3sicGF0aCI6IlwvZlwvN2FhZTQwNmEtMTA1MS00ZjdjLWEyYTEtMTdmNTRhODRiODg4XC9kNXp6dm4xLTUwN2ZkM2ZiLTZhZWYtNDc1My1iMDFlLWY5ZmI4NGUwZjA3Yy5naWYifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.Fq17Wh2vSet9TSV7PV_mk54SlBpZiF43rJOK_IhQhbc">
                    
                
                {% endif %}


                
              </div>
          </div>
    </div>

{% endblock %}
