{% extends 'base.html' %}

{% block title %}{% endblock %}

{% block body %}

    <div id="search-result" class="row">

          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 title-summary">

              <div class="content">
        {% if session['render-search-results'] is defined %} 
            {% if session['render-search-results'] == "one" %}
                {% if current_recommendations['title'] is defined %}
                    <div class="search-result">
                    <h2>{{ current_recommendations['title'] }}</h2>  <b> ( {{ current_recommendations['released'] }}  )</b><br>

                     <img src="{{ current_recommendations['image1'] }}" width="30" height="50">     <img src="{{ current_recommendations['image2'] }}" width="30" height="50">  
                   
                  
                    <p> 🕐 {{ current_recommendations['runtime'] }}
                        {% if current_recommendations['type'] == 'movie' %} | 🎬 {{ current_recommendations['type'] }} {% elif current_recommendations['type'] == 'series' %} | 📺 {{ current_recommendations['type'] }}{% endif %}
                        {% if current_recommendations['download'] == '1' %}| 📶 downloadable {% endif %}
                        {% if current_recommendations['matlevel'] != "" %}|<a title="{{ current_recommendations['matlabel'] }}"> 🔰 {{ current_recommendations['matlevel'] }} </a> {% endif %}</p>
                    <p> 🎭 {{ current_recommendations['genre'] }} </p>
                        <p>{{ current_recommendations['mgname'] }} </p>

                    <p>IMDb: ⭐ ⭐ ⭐ ★ ★  | Netflix: ⭐ ⭐ ⭐ ⭐ ★  | Rotten Tomatoes: 🍅 🍅 🍅 🍅 ⚫</p>    
                    <p><b>"votes"</b>   <em>{{ current_recommendations['votes'] }}</em>  |  
                        <b>"avgrating":</b> <em>{{ current_recommendations['avgrating'] }}</em>  |  
                        <b>"metascore":</b> <em>{{ current_recommendations['metascore'] }}</em>  |  
                        <b>"rating":</b> <em>{{ current_recommendations['rating'] }}</em>  |  
                        <b>metascore:</b> <em>{{ current_recommendations['metascore'] }}</em> </p>

                        {% if current_recommendations['awards'] != '' %} <p>🏆 {{ current_recommendations['awards'] }}</p> {% endif %}

                    <h4> {{ current_recommendations['synopsis'] }} </h4>

                    <p> <em>{{ current_recommendations['plot'] }}</em></p>

                    <p><b>Actors:</b>   <em>{{ current_recommendations['actors'] }}</em></p>
                          <!-- TODO: create route to process actors by actor-name -->

                    <p><b>Director(s):</b>   <em>{{ current_recommendations['directors'] }}</em></p>
                    
                    <ul>
                        <li><a href="https://www.imdb.com/title/{{ current_recommendations['imdbid'] }}"> Read more on imdb </a></li>
                        <li><a href="https://www.netflix.com/title/{{ current_recommendations['netflixid'] }}"> Watch now on Netflix </a></li>
                    </ul>
                    </div>

                {% else %}
                    <p> crickets chirping.... <b>try a different search term, friend</h3></p>
                    <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/7aae406a-1051-4f7c-a2a1-17f54a84b888/d5zzvn1-507fd3fb-6aef-4753-b01e-f9fb84e0f07c.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3sicGF0aCI6IlwvZlwvN2FhZTQwNmEtMTA1MS00ZjdjLWEyYTEtMTdmNTRhODRiODg4XC9kNXp6dm4xLTUwN2ZkM2ZiLTZhZWYtNDc1My1iMDFlLWY5ZmI4NGUwZjA3Yy5naWYifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.Fq17Wh2vSet9TSV7PV_mk54SlBpZiF43rJOK_IhQhbc">
                    
                {% endif %}
          
                

            {% elif session['render-search-results'] == "many" %}



                <h2>recommendations</h2>
                    
                    {% for result_number, movie_result in current_recommendations.items() %}    
           
                        {% if movie_result['title'] is defined %}
                        <div class="search-result">
                        <b><a href="/title/{{ movie_result['title'] }}">{{ movie_result['title'] }} </a>    {% if movie_result['year'] > 0 %} ( {{ movie_result['year'] }}  )</b>{% endif %}  <br> 
                            <!-- TODO: create route to process searches by nfid -->
                        <img src="{{ movie_result['img'] }}" width="30" height="50">     <img src="{{ movie_result['poster'] }}" width="30" height="50">  
                    
                        {% if movie_result['top250'] > 0 %} <p><a style="color:#FB3530">ℕ</a> Top 250 of Netflix </p> {% endif %}{% if movie_result['top250tv'] > 0 %} <p><a style="color:#FB3530">ℕ</a> Top 250 of Netflix TV </p> {% endif %}
                        <p> 
                            {% if movie_result['vtype'] == 'movie' %} 🎬 {{ movie_result['vtype'] }} | {% elif movie_result['vtype'] == 'series' %} 📺 {{ movie_result['vtype'] }} | {% endif %}

                            {% if movie_result['runtime'] > 0 %} 🕐 {{ movie_result['runtime'] }} minutes  | {% endif %}
                            <!-- TODO:  break this up into hours and minutes -->

                            {% if movie_result['imdbrating'] > 0 %}  IMDb: {{ movie_result['imdbrating'] }} ⭐ ⭐ ⭐ ★ ★  {% endif %} </p>
                            <!-- TODO:  render starts graphics based on imdb rating -->
                            <p> <em>{{ movie_result['synopsis'] }} </em> </p>
                        <ul>
                            <li><a href="https://www.imdb.com/title/{{ movie_result['imdbid'] }}"> Read more on imdb </a></li>
                            <li><a href="https://www.netflix.com/title/{{ movie_result['nfid'] }}"> Watch now on Netflix </a></li>
                        </ul>
                        <br><hr><br>
                        </div>
                        {% endif %}
                    
                    {% endfor %}
            


            {% else %}

                ## render block of "try again"

            {% endif %} 



        {% else %} 
        


             <h3>update your search parameters below:</h3>
          
             <form action='/recommendations' method="POST">
               <div class="form-group">
   
             <input id="user-id" name="user-id" type="hidden" value="{{ user.id }}">

             <label for="search-field"></label>
             <input type="search"
                 id="search-input"
                 name="search-input"
                 placeholder="search by movie title"
                 autofocus />
      
             <label for="movie-or-series-input"> production date "to when?":</label>           
             <select id="movie-or-series-input" name="movie-or-series-input">
               <option value="" selected>any/all</option>
               <option value="movie"> movie </option>
               <option value="series"> series </option>
             </select>
    <br>  
             <label for="preferred-subtitle">Select your default subtitles:</label>
             <select id="preferred-subtitle" name="preferred-subtitle">
               <option value="any" selected>any/all</option>
               {% for key, value in languages.items() %}
                 {% if key == 'subtitles' %}
                   {% for item in value %}
                 <option value="{{item}}">{{item}}</option>  
                 {% endfor %}
                 {% endif %}
               {% endfor %}
             </select>
   <br>
             <br>
             <label for="preferred-audio">Select your default audio:</label>
             <select id="preferred-audio" name="preferred-audio">
               <option value="any" selected>any/all</option>
               {% for key, value in languages.items() %}
                 {% if key == 'audio' %}
                   {% for item in value %}
                 <option value="{{item}}">{{item}}</option>  
                 {% endfor %}
                 {% endif %}
               {% endfor %}
             </select>
   
   <br>
             <label for="date-range-start"> production date "from when?":</label>           
             <select id="date-range-start" name="date-range-start">
               <option value="all" selected>any/all</option>
               <option value="new">released within past year</option>
               <option value="2years">released within previous 2 years</option>
               <option value="5years">released within previous 5 years</option>
               <option value="2000">on or after 2000</option>
               <option value="1990">on or after 1990</option>
               <option value="1980">on or after 1980</option>
               <option value="1970">on or after 1970</option>
               <option value="1960">on or after 1960</option>
               <option value="1950">on or after 1950</option>
               <option value="1940">on or after 1940</option>
               <option value="1930">on or after 1930</option>
               <option value="1920">on or after 1920</option>
               <option value="1910">on or after 1910</option>
             </select>
   <br>        
             <label for="date-range-end"> production date "to when?":</label>           
             <select id="date-range-end" name="date-range-end">
               <option value="all" selected>any/all</option>
               <option value="new">released within past year</option>
               <option value="2000">up until 2000</option>
               <option value="1990">up until 1990</option>
               <option value="1980">up until 1980</option>
               <option value="1970">up until 1970</option>
               <option value="1960">up until 1960</option>
               <option value="1950">up until 1950</option>
               <option value="1940">up until 1940</option>
               <option value="1930">up until 1930</option>
               <option value="1920">up until 1920</option>
               <option value="1910">up until 1910</option>
             </select>
   <br>
             <label for="start-rating-input"> minimum imdb rating:</label>
             <input type="number"
                 id="start-rating-input"
                 name="start-rating-input"
                 placeholder="1-10"
                 min="0" 
                 max="9"
                 value="3" />

            <br>
            <label for="end-rating-input"> maximum imdb rating:</label>
            <input type="number"
                id="end-rating-input"
                name="end-rating-input"
                placeholder="1-5"
                min="1" 
                max="10"
                value="10" />
   <br>
             <label for="genre-input">Select your default genre(s):</label>         
             <select id="genre-input" name="genre-input">
               <option value="all" selected>any/all</option>
               {% for obj in all_genres %}
               {% for field in obj.__table__.columns._data.keys() %}
                 {% if field == 'name' %}
                 <option value="{{ obj[field] }}">{{ obj[field] }}</option>
                 {% endif %}
               {% endfor %}
             {% endfor %}
             </select>
   <br>


   <input type="submit" value="search" id="submit-input"/>
   </div>


        {% endif %} 
            
              </div>
          </div>
    </div>

{% endblock %}
