<!doctype html>
<html>

        <!-- load React dependencies on all pages for this app. -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.js" crossorigin></script>
        <script crossorigin src="https://unpkg.com/react@17/umd/react.development.js"></script>
        <script crossorigin src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>
        <!-- React Router Dom -->
        <script src="https://unpkg.com/react-router@5.2.0/umd/react-router.min.js"></script>
        <script src="https://unpkg.com/react-router-dom@5.2.0/umd/react-router-dom.min.js"></script>
        <!-- jQuery -->
        <script
            src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
            crossorigin="anonymous"></script>
        <!-- netflix2 -->
        <script src="https://cdn.jsdelivr.net/npm/netflix2@0.2.1/lib/netflix2.min.js"></script>

        <script src="/static/root.jsx" type="text/jsx"></script>
        <!-- style -->
        <link href="/static/css/site.css" rel="stylesheet">
        <link rel="icon" href="/static/favicon.ico" sizes="32x32">



        <div id="root"></div>

</html>